@media (width <= 1000px) {
  #portfolio .projetos {
    grid-template-columns: 1fr 1fr;
  }
  #contato .contato-container > img {
    right: 5px;
  }
}
@media (width <= 900px) {
  #home h6 {
    display: none;
  }
  #sobre .subtitulo {
    margin-top: 260px;
  }
  #contato .contato-container p {
    max-width: 30ch;
  }
  #contato .redes a img {
    width: 32px;
  }
  #contato .redes a:hover img {
    width: 34px;
  }
}

@media (width <= 800px) {
}

@media (width <= 700px) {
  #contato .contato-container > img {
    height: 200px;
    top: 80px;
  }
  #contato .contato-container{
    padding-bottom: 15px;
  }
}

@media (width <= 631px) {
  #portfolio .projetos {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-items: start;
  }
  #portfolio .projeto-item {
    width: max-content;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  #portfolio .img-container {
    width: 180px;
    height: 150px;
  }

  .section:not(:last-of-type){
    margin-bottom: 60px !important;
  }
  #home .titulo h1 {
    font-size: 3rem;
  }
  #home .titulo p {
    font-size: 1.5rem;
  }

  .subtitulo {
    font-size: 2.3rem !important;
  }
  .subtitulo::after {
    width: 120px !important;
  }

  #sobre .comp{
    grid-template-columns: 1fr 1fr;
  }
  #sobre p {
    font-size: 1rem !important;
  }
  #sobre h3{
    font-size: 1.5rem !important;
  }
  #sobre .comp{
    font-size: 0.85rem;
  }

  #resumo .educaçao-container h3{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  #resumo .text h4{
    font-size: 1rem;
  }
  #resumo .text p,#resumo .text h5{
    font-size: 0.85rem;
  } 

  #contato .contato-container p{
    font-size: 1rem;
  }
  #contato .contato-item a{
    font-size: 0.85rem;
  }
  #contato .redes{
    display: flex;
    gap: 20px;
  }
  #contato .redes a{
    position: relative;
    left: auto;
  }
  #contato .contato-container > img{
    position: relative;
    top: 20px;
  }
}

@media (width <= 510px) {
  #container{
    height: max-content !important;
  }
  header{
    display: none;
  }
  body{
    padding-bottom: 0 !important;
    overflow-x: hidden !important;
  }
  #home{
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  #home img{
    height: 300px !important;
  }
  #home .titulo{
    padding-top: 100px;
    padding-left: 5px;
  }
  #home .titulo h1 {
    font-size: 2.5rem;
  }
  #home .titulo p {
    font-size: 1.125rem;
  }  
  .subtitulo {
    font-size: 2rem !important;
  } 
  #sobre .subtitulo {
    margin-top: 160px;
  }
  #sobre p {
    font-size: 0.75rem !important;
  }
  #sobre h3{
    font-size: 1.25rem !important;
  }
  #sobre .comp{
    display: flex;
    flex-direction: column;
  }
  #portfolio .projeto-item h4{
    font-size: 1.125rem;
  }
  #portfolio .projeto-item p{
    font-size: 0.85rem;
  }
  #resumo .educaçao-container h3{
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  #resumo .text h4{
    font-size: 0.85rem;
  }
  #resumo .text p,#resumo .text h5{
    font-size: 0.65rem;
  } 
  #resumo .educaçao-container:first-of-type {
    margin-bottom: 0px;
  }
  #contato .contato-container > div{
    height: max-content;
  }
  #contato .contato-container p{
    font-size: 0.85rem;
    max-width: max-content;
  }
  #contato .contato-item a{
    font-size: 0.85rem;
  }
  #resumo .detalhe{
    display: none;
  }
  #resumo .educaçao-container h3:after{
    display: block;
  }
  
}

@media (width <= 400px){
  #container-main{
    padding-left: 20px !important;
    padding-right: 10px !important;
  }
  #home{
    margin-top: 0px !important;
    text-align: center;
  }
  #home img{
    display: none;
  }
  #home .titulo h1 span{
    display: block;
  }
  #home .titulo h1 i{
    display: inline;
  }
  #home .titulo{
    padding-top: 20px;
    padding-right: 5px;
  }
  #typewriter{
    animation: none !important;
    border: none;
  }
  #sobre .subtitulo {
    margin-top: 0px;
  }
  .subtitulo {
    font-size: 1.8rem !important;
    margin-bottom: 15px !important;
  }
  #portfolio .img-container {
    width: 100px;
    height: 70px;
  }
  #portfolio .projeto-item h4{
    font-size: 1rem;
  }
  #portfolio .projeto-item h4 span{
    display: block;
  }
  #portfolio .projeto-item p{
    font-size: 0.65rem;
  }
  
}

@media (width <= 300px){
  #home .titulo h1 {
    font-size: 2rem;
  }
  #home .titulo p {
    font-size: 1rem;
  }
  .subtitulo {
    font-size: 1.5rem !important;
    margin-bottom: 5px !important;
  } 
  #contato .contato-item a{
    font-size: 0.65rem;
  }
}
@media (width <= 230px){
  #portfolio .img-container {
    width: 50px;
    height: 30px;
    border-radius: 5px;
  }
  #contato .contato-container > img {
    height: 150px;
  }
  #contato .contato-item img{
    display: none;
  }
  #contato .contato-item a{
    word-wrap: break-word;
  }
}
